[vastcombatAnimation="fadeAndHide"] {
  animation-name: vastcombat_animation_fadeAndHide;
  animation-delay: 2.5s;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
@keyframes vastcombat_animation_fadeAndHide {
  10% { opacity: 90%; }
  20% { opacity: 80%; }
  30% { opacity: 70%; }
  40% { opacity: 60%; }
  50% { opacity: 50%; }
  60% { opacity: 40%; }
  70% { opacity: 30%; }
  80% { opacity: 20%; }
  90% { opacity: 10%; }
  100% { display: none; opacity: 100%; }
}
@keyframes vastcombat_animation_darker-dark {
  from { background-color: var(--colorScheme_darker) }
  to { background-color: var(--colorScheme_dark) }
}