h1 {
  font-size: var(--fontSize_largest);
}
h2 {
  font-size: var(--fontSize_larger);
}
h3 {
  font-size: var(--fontSize_large);
}
h4 {
  font-size: var(--fontSize_default);
}
h5 {
  font-size: var(--fontSize_small);
}
h6 {
  font-size: var(--fontSize_smaller);
}
[vastcombat="logger_green"] {
  color: var(--colorScheme_unique_green_lighter);
}
[vastcombat="infoText"], [vastcombat="infoTextWithPointer"] {
  background-color: transparent;
  border: none;
  animation: none;
  color: #b0b0b0;
  font-size: var(--fontSize_small);
}
[vastcombat="infoTextWithPointer"] {
  cursor: pointer;
}
#lobby-homepage-title {
  transition: filter 1s;
}