:root {
  --colorScheme_lightest: #ffffaa;
  --colorScheme_lighter: #fffaaa;
  --colorScheme_light: #fff000;
  --colorScheme_default: #aaa000;
  --colorScheme_dark: #777000;
  --colorScheme_darker: #555000;
  --colorScheme_darkest: #333000;

  --borderRadius_low: 2.5px;
  --borderRadius_default: 7.5px;
  --borderRadius_high: 20px;

  --colorScheme_unique_pink: #aa1775;
  --colorScheme_unique_green: #05aa2a;
  --colorScheme_unique_orange: #ffa000;
  --colorScheme_unique_orange_dark: #9b6100;

  --fontSize_largest: 64px;
  --fontSize_larger: 48px;
  --fontSize_large: 32px;
  --fontSize_default: 16px;
  --fontSize_small: 12px;
  --fontSize_smaller: 8px;
  --fontSize_smallest: 4px;
}