:root {
  --colorScheme_lightest: #ffffaa;
  --colorScheme_lighter: #fffaaa;
  --colorScheme_light: #fff000;
  --colorScheme_default: #aaa000;
  --colorScheme_dark: #777000;
  --colorScheme_darker: #555000;
  --colorScheme_darkest: #333000;

  --borderRadius_low: 2.5px;
  --borderRadius_default: 7.5px;
  --borderRadius_high: 20px;
  --borderRadius_maximum: 1000px;

  --colorScheme_unique_pink: #ff00a1;
  --colorScheme_unique_green_lightest: #81fc9c;
  --colorScheme_unique_green_lighter: #38fa64;
  --colorScheme_unique_green_light: #05dc35;
  --colorScheme_unique_green: #05aa2a;
  --colorScheme_unique_orange: #ffa000;
  --colorScheme_unique_orange_dark: #9b6100;
  --colorScheme_unique_brown: #694200;
  --colorScheme_unique_blue_lightest: #a8deff;
  --colorScheme_unique_blue_lighter: #79cdff;
  --colorScheme_unique_blue_light: #40b8ff;
  --colorScheme_unique_blue: #00a1ff;
  --colorScheme_unique_blue_dark: #0088d9;
  --colorScheme_unique_blue_darker: #006dae;
  --colorScheme_unique_blue_darkest: #00639d;

  --fontSize_largest: 64px;
  --fontSize_larger: 48px;
  --fontSize_large: 32px;
  --fontSize_default: 16px;
  --fontSize_small: 12px;
  --fontSize_smaller: 8px;
  --fontSize_smallest: 4px;
}